
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.TotalCounter{
    justify-content: center;
    background-color: black;

}

.TotalCounter div{
    background: rgb(75, 75, 75);
    color: white;
    font-size: 100px;
    padding: 50px;
    justify-content: center;
    margin: 4px;

}